[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
youtube_dl = "*"
comet-ml = "*"
notebook = "*"
matplotlib = "*"

[packages]
Flask = "*"
Keras = "*"
librosa = "*"
kapre = "*"
SoundFile = "*"
numpy = "==1.14.5"
pillow = "*"
keras-contrib = {git = "https://www.github.com/keras-team/keras-contrib.git"}
tensorflow = "*"

[requires]
python_version = "3.6"
