[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
keras = "*"
tensorflow = "==1.5"
librosa = "*"
kapre = "*"
soundfile = "*"

[requires]
python_version = "3.5"
